@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1170px;
  --font-pop: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-primary: #DB4444;
  --color-secondary: #00FF66;
}


@layer utilities {
  .container {
    margin: auto;
    width: 100%;
    padding: 0px 5px;
  }
}

/* Banner componnent */
.Banner img {

  width: 892px;
}

.slick-dots .slick-active div {
  background-color: #DB4444;
  border: 2px solid white;
  cursor: pointer;
}

/* navCOmponent */
nav ul li {
  border-radius: 12px;
  padding: 0px 3px;
  transition: all 0.3s linear;
}

nav ul li:hover {
  background-color: white;
  color: black;
}

/* counter component part customize css */

.time p {
  font-size: x-small;
  --font-pop: "Poppins", sans-serif;
  font-weight: 700;
}

.time h5 {
  padding-left: 10px;
}

/* pages/Product component customize css */

.myList li {
  display: flex;
  align-items: center;
  gap: 8px;
}


/* use custom css className cataroies in Catagories component */
.catagories {
  border: 2px solid rgba(0, 0, 0, 0.144);
  width: 170px;
  height: 145px;
  transition: all 0.3s ease-in;
}

.catagories:hover {
  transition: all 0.3s ease-in;
  background-color: #DB4444;
}

/* productDetails */

.product img {
  width: 100%;
}

.product img:hover {
  transform: scale(1.3);
  transition: all 0.3s linear;
}

.product button {
  height: 32px;
  width: 32px;
  border: 1px solid rgba(0, 0, 0, 0.349);
  cursor: pointer;
  font-weight: 600;
}

.productCard button:hover,
.Card:hover {
  background-color: #DB4444;
  color: white;
}

/* Cart custom class cart */
.cart button {
  padding: 16px 48px;
  border: 1px solid #0000005d;
  font-weight: 600;
}

/* contact component  */
.contact p {
  font-size: 14px;
}

/* Input class name */
.Input input {
  width: 33%;
  padding: 13px;
  border: solid 1px #0000005d;
  background-color: #00000011;
  border-radius: 4px;
  outline: none;
  border-color: #00000011;
}

.grid-main{
  display: grid;
  grid-template-columns:50% auto auto auto ;
  gap: 20px;
  
}
.grid-main div:nth-child(1) {
  grid-row: 1/3;
  grid-column: 1/3;
}
.grid-main div:nth-child(2) {
  grid-column: 3/5;
}

