
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1170px;
  --font-pop: "Poppins", sans-serif;
  --color-primary :#DB4444;
  --color-secondary :#00FF66;
}


@layer utilities{
  .container{
    margin: auto;
    width: 100%;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 576px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px){
  .container{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 992px){
  .container{
    padding-left: 40px;
    padding-right: 40px;
  }
}

.slick-dots .slick-active div{
    background-color:#DB4444 ;
  border: 2px solid white;
 
}

.time p{
  font-size: x-small;
  --font-pop: "Poppins", sans-serif;
  font-weight: 700;
}
.time h5{
  padding-left: 10px;
}